@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;700&display=swap");
$desktop: 800px;
@mixin desktop {
  @media (min-width:#{$desktop}) {
    @content;
  }
}
$poppins: "Poppins", sans-serif;
$pt: "PT Serif", serif;
$bg-color: #e6e5e1;
$shdow-gray: #d3d3d5;

$colors: (
  primary: #472151,
  secondary: #624185,
  p-yellow: hsl(30, 100%, 64%),
  pastel: rgb(242, 173, 115),
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  pointer-events: none;
}

body {
  background-color: $bg-color;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .card {
    position: relative;
    width: 21rem;
    height: 13rem;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 4px;
    margin-top: 4rem;
    background-color: map-get($colors, pastel);

    @include desktop {
      width: 40rem;
      margin-top: 4rem;

      height: 18rem;
    }
    &:hover {
      background-color: white;
    }
    &:before {
      content: "";
      z-index: 99;
      position: absolute;
      top: -10px;
      left: 32px;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 16px;
      background-color: $bg-color;
    }
    &:after {
      content: "";
      z-index: 99;
      position: absolute;
      bottom: -10px;
      left: 32px;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 16px;
      background-color: $bg-color;
    }
    ul {
      z-index: 99;
      position: absolute;
      left: 39px;
      top: 5px;
      list-style-type: none;
      li {
        width: 2px;
        height: 2px;
        border-radius: 2px;
        margin: 6px 0;
        background-color: $bg-color;
      }
    }
    h2 {
      z-index: 99;
      font-family: "Poppins", sans-serif;

      position: absolute;
      bottom: 5rem;
      right: 78px;
      font-size: 1.5rem;
      font-weight: 700;
      color: map-get($colors, primary);
      background-color: rgba(255, 163, 69, 0.5);
      border-radius: 10px;
      text-align: center;
      width: 65%;
      @include desktop {
        right: 130px;
        font-size: 2.5rem;
      }
    }

    p {
      z-index: 99;
      position: absolute;
      top: 5px;
      width: 0rem;
      right: 62px;
      color: map-get($colors, primary);

      opacity: 0.8;
      font-family: $poppins;
      font-size: 2rem;
      letter-spacing: 1px;
      writing-mode: vertical-lr;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      @include desktop {
        right: 72px;
        top: 20px;
      }
    }
    .pic {
      z-index: 100;
      width: 17rem;
      height: 17rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: grayscale(10%);
      @include desktop {
        width: 35rem;
        height: 18rem;
      }
      img {
        width: 100%;
        opacity: 0.7;
      }
    }
    .social {
      display: none;
    }

    &:hover .social {
      display: block;
      position: absolute;
      left: 48px;
      top: 26px;
      width: 60%;
      color: map-get($colors, primary);
      font-size: 4rem;
      z-index: 2;
      font-family: $pt;
      font-weight: bold;
      background-color: rgba(242, 173, 115, 0.5);
      border-radius: 10px;
    }
    &:hover h2 {
      display: none;
    }
    button {
      position: absolute;
      right: 20px;
      bottom: 3px;
      width: 33px;
      height: 32px;
      background-color: map-get($colors, secondary);
      border: none;
      border-radius: 30px;
      cursor: pointer;
      outline: none;
      transition: all 0.3s ease;
      mix-blend-mode: hard-light;
      @include desktop {
        right: 33px;
        bottom: 14px;
      }
      a {
        text-decoration: none;
        font-family: $poppins;

        color: white;
      }
    }

    &:hover button {
      transform: scale(16.5);
      a {
        color: map-get($colors, secondary);
      }
    }
    &:hover p {
      color: #fff;
    }

    &:hover .pic {
      filter: grayscale(90%);
    }
  }

  .card2 {
    button {
      background-color: map-get($colors, secondary);
    }
  }
}

.dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}
