@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;700&display=swap");

$colors: (
  primary: #472151,
  secondary: #624185,
  p-yellow: #ffa345,
  pastel: #f2ad73,
);
$poppins: "Poppins", sans-serif;
$pt: "PT Serif", serif;
$desktop: 800px;
@mixin desktop {
  @media (min-width:#{$desktop}) {
    @content;
  }
}
$lDesktop: 1300px;
@mixin lDesktop {
  @media (min-width:#{$lDesktop}) {
    @content;
  }
}
$iPad: 1000;
@mixin iPad {
  @media (min-width:#{$lDesktop}) {
    @content;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  @include desktop {
    flex-direction: row;
    align-items: center;
  }
  .card {
    width: 90%;
    min-height: 75vh;
    background-color: map-get($colors, pastel);
    margin: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: map-get($colors, primary);
    box-shadow: 0 10px 10px -5px;

    @include desktop {
      min-height: 30rem;
      width: 38%;
    }
    @include lDesktop {
      margin-top: 5rem;
      min-height: 39rem;
      width: 31%;
    }
    .cardText {
      text-align: center;
      min-height: 30vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
    }

    .pic {
      border-radius: 50%;
      background-color: map-get($colors, primary);
      border: 3px inset #624185;
      width: 45%;
      height: 22vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @include desktop {
        height: 29vh;
        width: 48%;
      }
      @include lDesktop {
        height: 32vh;
        width: 55%;
        margin-top: 1.5rem;
      }
    }
    button {
      border: 0;
      background-color: map-get($colors, secondary);
      padding: 0.5rem;
      border-radius: 5px;
      justify-self: flex-end;
      width: 8rem;
    }
    a {
      color: #fafafa;
      font-family: $poppins;

      text-decoration: none;
    }

    h2,
    h5 {
      font-family: $poppins;
      color: map-get($colors, primary);
      font-weight: 500;
      max-width: 17rem;
      margin: 1rem;
      text-align: center;
      height: 5rem;
    }
    h2 {
      font-weight: bold;
    }
    h5 {
      color: map-get($colors, p-yellow);
      height: 3rem;
      margin: 3rem auto;
      button {
      }
    }

    p {
      color: map-get($colors, primary);
      font-family: $poppins;
      transform: translateX(-50%) translateY(-50%) rotate(-90deg);
      position: absolute;
      top: 5rem;
      left: 2rem;
      @include desktop {
        left: -3rem;
        top: 4rem;
      }
      @include lDesktop {
        left: -8rem;
        top: 1rem;
      }
    }
  }
  .clip {
    font-size: 3rem;
    color: map-get($colors, p-yellow);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(10.9% at 2% 98%);
    transition: clip-path 0.5s ease-in-out;
    // height: 10;
    background-color: map-get($colors, primary);

    &:hover {
      clip-path: circle(75%);
      z-index: 2;
    }
    button {
      background-color: map-get($colors, p-yellow);
      position: absolute;
      bottom: 1rem;
      left: 10rem;
      @include lDesktop {
        left: 15rem;
      }
      a {
        color: map-get($colors, primary);
      }
    }
  }
}
.app {
}
.dos {
  clip-path: polygon(100% 26%, 38% 100%, 100% 100%);
  bottom: 0rem;
  right: 0rem;
  width: 90%;
  height: 42rem;
  background-color: #472151;
  z-index: -1;
  position: absolute;
}
.transitions {
  width: 100%;
  height: 100vh;
}
